* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

body.--pointer-events-none {
    pointer-events: none;
}

@keyframes countdown {
    from {width: 100%;}
    to {width: 0;}
}

.countdownBar {
    content: "r";
    position: absolute;
    background-color: rgb(158, 227, 236);
    box-shadow: 7px 0px 20px 12px rgb(158, 227, 236);
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.countdownBar.active {
    /* transition-property: width;
    transition-duration: 10s;
    transition-timing-function: linear;
    width: 0; */
    animation-name: countdown;
    animation-duration: 10s;
    animation-timing-function: linear;
}

.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10em;
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.overlay .overlay__success, .overlay .overlay__error {
    display: none;
}

.success .overlay {
    background-color: rgb(0, 165, 14);
    opacity: .8;
}


.success .overlay .overlay__success {
    display: block;
}

.error .overlay {
    background-color: rgb(165, 0, 0);
    opacity: .8;
}

.error .overlay .overlay__error {
    display: block;
}

main {
    padding: 20px;
}

.option {
    background-color: rgb(0, 42, 49);
    padding: 30px;
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    display: block;
    width: 100%;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    outline: none;
}

.option:hover {
    background-color: rgb(0, 59, 70);
}

.option:active, .option:focus {
    background-color: rgb(0, 101, 119);
    outline: none;
}



.option.success {
    background-color: rgb(0, 165, 14);
    transition: background-color .5s ease-out;
}

.option.error {
    background-color: rgb(165, 0, 0);
    transition: background-color .5s ease-in;
}
